<div class="text-container">
    <h1>Portfolio - Service</h1>
    <h2>Ersatzteile</h2>
    <p>
        Auch im Servicefall, stehen wir Ihnen mit Rat und Tat zur Seite. 
        Wir besorgen schnell und unkompliziert alle nötigen Ersatzteile und führen die Reparatur aus. 
        Um Ausfallzeiten minimieren zu können, stellen wir Ihnen auch gerne für Ihre Anlage ein Ersatzteilpaket zusammen.
    </p>

    <h2>Produktwechsel</h2>
    <p>Sie wollen Ihr Produkt umstellen und müssen die Software und auch eventuell schnell anpassen? 
        Auch hierbei können Sie auf unsere Unterstützung zählen. Wir passen das Steuerungsprogramm den neuen benötigten Funktionen und Bewegungsabläufen an und erweitern 
        Ihre Anlage um die nötige mechanische und elektronische Auslastung und erhöhen damit die Anlagenverfügbarkeit.
    </p>

    <h2>Simulation</h2>
    <p>Bei der Installation einer Roboterzelle sind viele Dinge zu beachten. 
        Wir unterstützen Sie bei der Planung Ihres neuen Roboterarbeitsplatzes von der Idee über den Aufbau bis hin zur Inbetriebnahme.
    </p>
    <p>
        Für die Planung stehen uns leistungsstarke grafische Simulationstools zur Verfügung. 
        Wir planen und optimieren mit Ihnen gemeinsam in diesen Tools Ihr zukünftiges Robotersystem. Sie können virtuell miterleben, wie sich Ihr Roboter später bewegen wird.
    </p>
</div>