<div class="text-container">
    <h1>Kontakt</h1>
    <h2>Impressum</h2>
    <p>CASES GmbH</p>
    <dl>
        <dt>Sitz der Gesellschaft</dt>
        <dd>
            Lämmertriebe 13 <br>
            06722 Wetterzeube OT Breitenbach
        </dd>

        <dt>Handelsregister</dt>
        <dd>
            HRB 17864 <br>
            AG Stendal
        </dd>

        <dt>Telefon</dt>
        <dd>034425 / 997748</dd>

        <dt>Telefax</dt>
        <dd>034425 / 997749</dd>

        <dt>Email</dt>
        <dd><a href="mailto:info@cases-gmbh.de">info@cases-gmbh.de</a></dd>

        <dt>UST-ID-Nr</dt>
        <dd>DE277268817</dd>

        <dt>Steuer-Nr.</dt>
        <dd>119/109/00554</dd>
    </dl>

    <app-formular></app-formular>
    
</div>