<ngb-carousel id="carousel">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="../../assets/carousel/robot.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
        <h3>Willkommen</h3>
        <p>...bei der CASES GmbH</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="../../assets/carousel/teil.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
        <h3>CASES GmbH Elektroniksysteme</h3>
        <p>Automatisierung ist unsere Profession</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="../../assets/carousel/presse.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
        <h3>CASES GmbH Elektroniksysteme</h3>
        <p>Automatisierung ist unsere Profession</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="text-container">
    <h1>Willkommen bei der CASES GmbH!</h1>
    <p>Wir sind ein Unternehmen, das sich auf Projekte im industriellen Anlagenbau spezialisiert hat. Dabei können wir folgende Leistungen anbieten:</p>
    <ul>
        <li>Planung, Projektierung und Dokumentation von elektrischen Anlagen und Maschinen </li>
        <li>Hardwareplanung mit CAE-System, ePlan und TurboCAD </li>
        <li>Programmierung der Automatisierungssysteme, Visualisierung</li>
        <li>Projektierung, Aufbau und Programmierung von Robotersystemen</li>
        <li>Projektierung von Mess- und Regeltechnik, Antriebstechnik</li>
        <li>Modernisierung, Erweiterung und Optimierung vorhandener Anlagen</li> 
        <li>mechanische und elektrische Inbetriebnahme</li>
        <li>Ersteinweisung und Schulung</li>
        <li>Kundendienst</li>
    </ul>
    <p>Dabei sehen wir uns als Möglichkeit, in der arbeitsintensiven Zeit der Projektbetreuung und Inbetriebnahme zu unterstützen bzw. 
        selbst die Betreuung der Projekte zu übernehmen, insbesondere wenn Ihre Ingenieure zeitgleich mehrere 
        Projekte betreuen und Präsenz vor Ort erforderlich wird.
    </p>
    <p>
        Unsere besondere Spezialisierung liegt in der Automatisierung mit den Simatic S7 klassich mit Step7 oder TIA Portal mit Profinetankopplung. 
        Aber auch andere Bussysteme wie zB. Profibus, MODBus, Devicenet, Interbus und CANBus sind in von uns betreuten Projekten zum Einsatz gekommen.
    </p>
    <p>
        Erfahrungen haben wir mit der Programmierung und Einbindung von KUKA Industrierobotern KRC32, KRC1 und KRC2 sowie KRC4 in den Automatisierungsprozess. 
        Unsere Hauptauftraggeber sind Anlagenbauer und industrielle Anlagenbetreiber im weltweiten Einsatz aus diversen Industriezweigen.
    </p>
</div>