<div class="text-container">
    <h1>Portfolio - SPS, Visu, Antriebstechnik</h1>
    <h2>SPS - TIA Portal - CODESYS</h2>
    <img src="../../assets/images/tia.jpg" class="image"/>
    <p>
        SPS Programmierung aktuell im TIA Portal aber auch im bewährtem Step7 Umfeld; Programmierung im CODESYS oder TWINCAT; Bewegungsprogrammierung für Echtzeitanwendungen
    </p>

    <h2>Maschinenbau</h2>
    <p>
        Konstruktion und Aufbau von Sondermaschinen, Vorrichtungen und Anlagenteilen.
        <br>
        Wir bieten:
    </p>
    <ul>
        <li>Automatisierung</li>
        <li>Maschinenbau: Konstruktion mit TurboCAD</li>
        <li>Softwareentwicklung</li>
        <li>Elektrokonstruktion mit ePlan</li>
    </ul>    

    <p>
        Wir würden uns freuen, Sie bei Ihren Vorhaben in der Automatisierung beraten und unterstützen zu dürfen.
        Dabei erarbeiten wir eine mit Ihnen abgestimmte speziell auf Ihre betrieblichen Abläufe abgestimmte Soft- bzw. Hardwarelösung.
    </p>
</div>
