<div class="text-container">
    <h1>Portfolio - Industrieroboter</h1>
    <h2>Industrieroboter</h2>
    <img src="../../assets/images/robot.gif" class="image"/>
    <p>
        Industrieroboter (IR) sind automatisch gesteuerte, frei und wieder programmierbare, vielfach einsetzbare Handhabungsgeräte mit mehreren Freiheitsgraden (mindestens 3 Achsen), 
        die entweder ortsfest oder beweglich in automatisierten Fertigungssystemen eingesetzt werden.
        Sie gewinnen durch ihre vielen Vorteile immer mehr an Bedeutung in der modernen Industrie, aber auch im Dienstleistungsgewerbe.
    </p>

    <h2>Ziele des Einsatzes von Industrierobotern</h2>
    <dl>
        <dt>Humanisierung</dt>
        <dd>Entlastung der Arbeitnehmer von Gewichten, thermischen Belastungen, monotonen Arbeiten und giftigen Stoffen</dd>
        <dt>Verbesserung der Wirtschaftlichkeit</dt>
        <dd>Erhöhung der Arbeitsgeschwindigkeit, keine Pausenzeiten, keine Krankheitsausfälle</dd>
        <dt>Erhöhung und Sicherung von Qualität</dt>
        <dd>immer exakt der gleiche Arbeitsablauf, keine Ablenkungen bzw. Störungen</dd>
    </dl>

    <h2>Einsatzfelder von IR</h2>
    <dl>
        <dt>Schweißen</dt>
        <dd>Punktschweißen, Bahnschweißen</dd>
        <dt>Bearbeiten</dt>
        <dd>Schneiden (Plasma, Wasser, Laser), Polieren, Schleifen, Entgraten, Bohren, Fräsen</dd>
        <dt>Beschichten</dt>
        <dd>Lackieren, Auftragen von Klebstoff</dd>
        <dt>Montage/Demontage</dt>
        <dd>Leiterplattenbestückung, KFZ-Industrie</dd>
        <dt>Handhaben</dt>
        <dd>Zuführen, Palettieren, Beschicken, Ordnen/Sortieren</dd>
        <dt>Dienstleistungen</dt>
        <dd>Tankstellen, Haushalt, Freizeit, Bauindustrie</dd>
    </dl>
</div>
