@import ../styles.sass
    
.navbar
    margin: 0 !important
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
    .navbar-toggler
        outline: none
    .logo 
        height: 2.5em
        margin-right: 0.5em
        transition: all 0.4s ease-in-out
    .logo-large
        height: 4em
        margin-right: 0.5em
        transition: all 0.4s ease-in-out
    #c-logo 
        width: 2em
        height: 2em
    .nav-link
        &:hover
            color: $light-orange !important
        &.active
            color: black !important

#content
    padding-top: calc(4em + 1rem)
    flex: 1
    
footer
    background-color: #313131
    padding: 2em
    padding-bottom: 1em
    p, a, h5
        color: white
    a 
        &:hover
            color: $orange
    .center
        text-align: center
        p 
            margin: 0
            color: #6f6f6f