<div class="text-container">
    <h1>Leistungen</h1>
    <h2>Von der Idee zur fertigen Anlage.</h2>
    <p>
        Wir betreuen die automatisierungstechnische Seite Ihres Projektes in all seinen Phasen. 
        Von der Entwicklung der Ideen über die Projektierung der Hard- und Software bis hin zum Aufbau und der Inbetriebnahme beim Kunden. 
        Eingeschlossen sind selbstverständlich alle erforderlichen Dokumentationen, Betriebsanleitungen sowie Schulung/Unterweisung des Bedienpersonals.
    </p>

    <h2>Unser Wissen ist Ihr Vorteil.</h2>
    <p>
        Wir haben Erfahrungen mit den verschiedensten Automatisierungs- und Antriebssystemen und deren Projektierung, Programmierung und Inbetriebnahme.
        Zum Beispiel:
    </p>
    <ul>
        <li>Siemens Simatic STEP5/STEP7, Graph7, PCS7, ...</li>
        <li>Siemens ProTool, WinCC, OPC</li>
        <li>Profibus DP, CAN, ASI, Interbus, LWL</li>
        <li>AllenBradley</li>
        <li>AEG</li>
        <li>SEW Eurodrive</li>
        <li>Danfoss</li>
    </ul>
    <h2>Teil-Engineering.</h2>
    <p>
        Sie benötigen für Teilabschnitte Ihres Projektes Unterstützung? Sie haben zeitliche Engpässe? 
        Wir unterstützen Sie gerne in den arbeitsintensiven Zeiten der Projektbearbeitung und Inbetriebnahme sowie in der Betreuung Ihrer Anlagen 
        in der Zeit nach der Inbetriebnahme. Dabei bieten wir Ihnen insbesondere folgende Leistungen an:
    </p>
    <ul><li>Planung, Projektierung und Dokumentation von elektrischen Anlagen und Maschinen </li>
        <li>Hardwareplanung mit CAE-System </li>
        <li>Programmierung der Automatisierungssysteme und Visualisierung</li>
        <li>Projektierung der Mess- und Regeltechnik, Antriebstechnik</li>
        <li>mechanische und elektrische Inbetriebnahme beim Kunden</li>
        <li>Einweisung und Schulung des Kunden</li>
        <li>Kundendienst</li>
    </ul>

    <h2>Immer up-to-date.</h2>
    <p>Die Modernisierung älterer Anlagen birgt ein hohes Potential an Kosteneinsparungen in sich, zum Beispiel durch:</p>
    <ul><li>höhere Qualität</li>
        <li>geringere Taktzeiten</li>
        <li>geringerer Wartungsaufwand</li>
        <li>preiswertere Ersatzteile.</li>
    </ul>
    <p>Wir beraten Sie gerne über die Modernisierungsmöglichkeiten Ihrer Anlagen, unterstützen Sie bei diesen Maßnahmen oder führen diese selbstständig durch.</p>
</div>