/* You can add global styles to this file, and also import other style files */

$blue: #002c85
$orange: #f78024
$light-orange: #f78024d1

.text-container
    padding: 2em
    margin: 0 auto
    max-width: 85em
    
.pointer
    cursor: pointer

body
    h1
        font-size: 2em
        font-weight: 200
    h2
        font-size: 1.5em
        font-weight: 200
    h3
        font-size: 1.2em
        font-weight: 200
    a
        &:hover
            color: $orange

$primary: $blue

@import "~bootstrap/scss/bootstrap"


